<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>       
    </configSections>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory name="WebApp">
            <!--<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>-->
            <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
            <property name="connection.connection_string">server=200.200.200.208;port=3306; user id=root; password=123456; database=PhysicalCheck;Charset=utf8</property>
            <property name="adonet.batch_size">10</property>
            <property name="show_sql">true</property>
            <!--<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>-->
            <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
            <property name="command_timeout">10</property>
            <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
            <!--
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory,NHibernate.ByteCode.LinFu</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle</property>
      -->
            <mapping assembly="DataEntity"/>
        </session-factory>
    </hibernate-configuration>
    <connectionStrings>
        <!--<add name="ConnectionString" connectionString="Provider=MSDAORA;Data Source=xhlis;Password=tj;User ID=tj;Unicode=True;Persist Security Info=True"/>-->
        <add name="ConnectionString" connectionString="Provider=MSDAORA.1;Password=tj;User ID=tj;Data Source=xhlis;Persist Security Info=True"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
