<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="FormatProviders" type="Common.FormatProvider.ProviderConfigHandler, &#xA; Common"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="WebApp">
      <!--<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>-->
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">server=localhost;port=3306; user id=root; password=123456; database=PhysicalCheck</property>
      <property name="adonet.batch_size">10</property>
      <property name="show_sql">true</property>
      <!--<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>-->
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
      <property name="command_timeout">10</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <!--
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory,NHibernate.ByteCode.LinFu</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle</property>
      -->
      <mapping assembly="DataEntity"/>
    </session-factory>
  </hibernate-configuration>
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log\\Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        <param name="Header" value="&#xA;----------------------header--------------------------&#xA;"/>
        <param name="Footer" value="&#xA;----------------------footer--------------------------&#xA;"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net>
  <FormatProviders>
    <!--
    CurrencyNegativePattern:0 ($n),1 -$n,2 $-n,3 $n-,4 (n$),5 -n$,6 n-$,7 n$-,8 -n $ ,9 -$ n ,10 n $- ,11 $ n- ,12 $ -n ,13 n- $ ,14 ($ n),15 (n $)
    CurrencyPositivePattern:0 $n,1 n$,2 $ n ,3 n $ 
    CurrencyGroupSeparator:货币值中对小数点左边数字进行分组的字符串
    CurrencyDecimalDigits:在货币值中使用的小数位数
    CurrencyDecimalSeparator:货币值中用作小数点分隔符的字符串。
    NumberNegativePattern:0 (n),1 -n ,2 - n ,3 n- ,4 n - 
    NumberGroupSeparator:在数值中对小数点左边数字进行分组的字符串。
    NumberDecimalDigits:在数值中使用的小数位数。 
    NumberDecimalSeparator:在数值中用作小数点分隔符的字符串   -->
    <provider name="NumberProvider" type="Common.FormatProvider.NumberFormatProvider" CurrencyNegativePattern="1" CurrencyPositivePattern="0" CurrencySymbol="￥" CurrencyGroupSeparator="," CurrencyDecimalDigits="2" CurrencyDecimalSeparator="." NumberNegativePattern="1" NumberGroupSeparator="," NumberDecimalDigits="2" NumberDecimalSeparator="."/>
    <provider name="DateTimeFormatProvider" type="Common.FormatProvider.DateTimeFormatProvider" ShortDatePattern="yyyy年MM月dd日" LongDatePattern="yyyy-MM-dd HH时" FullDateTimePattern="yyyy-MM-dd HH时mm分ss秒" YearMonthPattern="yyyy年MM月"/>
  </FormatProviders>
  <appSettings>
    <add key="ConnectionString" value="server=localhost;port=3306; user id=root; password=123456; database=PhysicalCheck"/>
    <add key="SMS" value="http://114.255.71.158:8061/?username=fkw&amp;password=dandan&amp;message={0}&amp;phone={1}&amp;epid=100371"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="SysLogin.aspx" defaultUrl="MainPage.aspx" protection="All" timeout="20" name=".FormsAuthCookie"/>
    </authentication>
    <pages theme="redmond">
      <namespaces>
        <add namespace="Common.FormatProvider"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="Common.Web.UI" assembly="Common.Web.UI"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="FastReportHandler" path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>